<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text="Volver" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <ion-text color="primary">
      <h1>¡Registro!</h1>
    </ion-text>
  </div>

  <div class="ion-text-center">
    <p>Completa los datos para registrarte</p>
  </div>

  <ion-list>
    <form #miForm="ngForm" (ngSubmit)="registrarUsuario()">

      <ion-item>
        <ion-label>Tipo de usuario</ion-label>
        <ion-radio-group [(ngModel)]="usr.tipo" name="tipousuario" required>
          <ion-item>
            <ion-label style="margin-right: 14px;">Alumno</ion-label>
            <ion-radio value="alumno"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label style="margin-right: 10px;">Docente</ion-label>
            <ion-radio value="docente"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>

      <ion-item>
        <ion-input label="Nombre" type="text" required labelPlacement="floating" name="usr.firstName" [(ngModel)]="usr.firstName" placeholder="Ingrese su nombre"></ion-input>
        <ion-icon name="person"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input label="Apellido" type="text" required labelPlacement="floating" name="usr.lastName" [(ngModel)]="usr.lastName" placeholder="Ingrese su apellido"></ion-input>
        <ion-icon name="person"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input label="Correo Electrónico" type="email" required labelPlacement="floating" name="usr.email" [(ngModel)]="usr.email" placeholder="Ingrese correo electrónico" #emailField="ngModel"></ion-input>
        <ion-icon name="mail"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" type="password" required labelPlacement="floating" name="usr.password" [(ngModel)]="usr.password" placeholder="Ingrese contraseña"></ion-input>
        <ion-icon name="lock-closed"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input label="Confirmar Contraseña" type="password" required labelPlacement="floating" name="usr.confirmPassword" [(ngModel)]="usr.confirmPassword" placeholder="Confirme contraseña"></ion-input>
        <ion-icon name="lock-closed"></ion-icon>
      </ion-item>

    
      <ion-button expand="block" type="submit" fill="solid" color="primary" [disabled]="miForm.invalid">
        Registrarse
      </ion-button>

    </form>
  </ion-list>

  <button (click)="pruebaConexionFirestore()">Probar Conexión a Firestore</button>



  <div *ngIf="!passwordsMatch">
    <ion-text color="danger">
      <p>Las contraseñas no coinciden. Por favor, inténtelo de nuevo.</p>
    </ion-text>
  </div>

  <div class="ion-text-center">
    <img src="assets/icon/duoc.png" alt="Imagen duoc" class="duoc">
  </div>

</ion-content>