<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-title class="ion-text-capitalize">RegistrApp</ion-title>
    <ion-button slot="end" fill="clear" id="perfilMenu">
      <ion-icon name="person" size="large" color="primary"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-action-sheet trigger="perfilMenu" backdropDismiss="false" [buttons]="profileMenuButtons" mode="ios"></ion-action-sheet>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Lista de asignaturas</h1>
  </ion-text>

  <ion-accordion-group lines="none" mode="ios">
    <ion-accordion *ngFor="let asignatura of asignaturas">
      <ion-item slot="header" detail="false">
        <ion-icon name="laptop-outline" slot="start"></ion-icon>
        <ion-label>{{ asignatura.nombre }}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let seccion of asignatura.secciones" (click)="navegarASeccion(asignatura.id, seccion)">
          <ion-label>{{ seccion.nombre }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-button expand="block" id="crearAsignaturaButton">
    Crear Asignatura
  </ion-button>

  <ion-modal trigger="crearAsignaturaButton" #crearAsignaturaModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Crear Asignatura</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="cerrarModal(crearAsignaturaModal)">
              <ion-icon slot="icon-only" color="primary" name="chevron-back"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form (ngSubmit)="crearAsignatura(crearAsignaturaModal)" #form="ngForm">
          <ion-item>
            <ion-label>Seleccionar asignatura existente (si va a agregar una nueva sección)</ion-label>
            <ion-select [(ngModel)]="nuevaAsignatura.id" name="asignaturaId">
              <ion-select-option [value]="null"></ion-select-option>
              <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">
                {{ asignatura.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item *ngIf="!nuevaAsignatura.id">
            <ion-label position="floating">Nombre de la nueva asignatura</ion-label>
            <ion-input [(ngModel)]="nuevaAsignatura.nombre" name="nombreAsignatura" required></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Nombre de la sección</ion-label>
            <ion-input [(ngModel)]="nuevaSeccion.nombre" name="nombreSeccion" required></ion-input>
          </ion-item>
  
          <ion-text *ngIf="nombreSeccionDuplicado" color="danger">
            <p>El nombre de la sección ya existe en esta asignatura.</p>
          </ion-text>
  
          <ion-button type="submit" expand="block" class="ion-padding" [disabled]="!form.valid || nombreSeccionDuplicado">
            Guardar
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

