<app-encabezado titulo="Perfil"></app-encabezado>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil de Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Nombre:</h2>
          <p>{{ usuario.firstName }} {{ usuario.lastName }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Correo Electrónico:</h2>
          <p>{{ usuario.email }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Tipo de Usuario:</h2>
          <p>{{ usuario.tipo }}</p>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="usuario.tipo === 'alumno' ">
        <ion-label>
          <h2>Carrera:</h2>
          <p>Analista programador computacional</p>
        </ion-label>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="modificarPassword()">
        Modificar Contraseña
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>



