<app-encabezado titulo="Asignatura"></app-encabezado>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>
      <h1>Programación Móvil</h1>
      <p>Profesor: </p>
      <p>Sala: </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h1>Asistencia</h1>
      <p>Porcentaje: </p>
      <p>N° de clases: </p>
    </ion-label>
  </ion-item>

<div class="boton-asistencia">
  <ion-button (click)="registrarAsistencia()" expand="block">
    Registrar asistencia
  </ion-button>
</div>

</ion-content>
