<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="Volver" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <ion-text color="primary">
      <h1>Recuperar Contraseña</h1>
    </ion-text>
  </div>

  <div class="ion-text-center">
    <p>Introduce tu correo electrónico para recuperar tu contraseña.</p>
  </div>

  <ion-list>
    <form #miForm="ngForm" (ngSubmit)="recuperarPassword()">
      <ion-item>
        <ion-input label="Correo Electrónico" type="text" required labelPlacement="floating" name="email" [(ngModel)]="email" placeholder="Ingrese su correo electrónico"></ion-input>
        <ion-icon name="mail"></ion-icon>
      </ion-item>

      <ion-button expand="block" type="submit" fill="solid" color="primary" [disabled]="miForm.invalid">
        Recuperar
      </ion-button>
    </form>
  </ion-list>

</ion-content>