<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/seleccionar-login" text="Volver" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

 <div class="ion-text-center">
    <ion-text color="primary">
      <h1>¡Inicio de sesión!</h1>
    </ion-text>
  </div>

  <div class="ion-text-center">
    <p>Introduce tus credenciales de docente para continuar</p>
  </div>

    <ion-list>
      <form #miForm="ngForm" (ngSubmit)="iniciarSesion()">
        <ion-item>
          <ion-input label="Correo Electronico" type="text" required labelPlacement="floating" name="usr.username" [(ngModel)]="usr.email" placeholder="Ingrese correo electronico"></ion-input>
          <ion-icon name="mail"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-input label="Password" type="password" required labelPlacement="floating" name="usr.password" [(ngModel)]="usr.password" placeholder="Ingrese contraseña"></ion-input>
          <ion-icon name="lock-closed"></ion-icon>
        </ion-item>
    
          <ion-button expand="block" type="submit" fill="solid" color="primary" [disabled]="miForm.invalid" >
            Iniciar Sesión
          </ion-button>

      </form>
    </ion-list>

    <div class="ion-text-center">
      <ion-button fill="clear" color="medium" (click)="recuperarPassword()">¿Olvidaste tu contraseña?</ion-button>
    </div>

  <div class="ion-text-center">
      <img src="assets/icon/duoc.png" alt="Imagen duoc" class="duoc">
  </div>

</ion-content>