<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-title class="ion-text-capitalize">RegistrApp</ion-title>
    <ion-button slot="end" fill="clear" id="perfilMenu">
      <ion-icon name="person" size="large" color="primary"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/asistencia">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Asistencia</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-action-sheet trigger="perfilMenu" backdropDismiss="false" [buttons]="profileMenuButtons" mode="ios"></ion-action-sheet>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Lista de asignaturas</h1>
  </ion-text>
<ion-list [inset]="true" lines="none" mode="ios">
  
  <ion-item routerLink="{{item.ruta}}" detail="true" *ngFor="let item of elementos" >
    <ion-icon name="{{item.icono}}" slot="start"></ion-icon>
    <ion-label>{{item.etiqueta}}</ion-label>
  </ion-item>

</ion-list>

</ion-content>

