<app-encabezado titulo="Perfil"></app-encabezado>
  
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Perfil de Usuario</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-item>
          <ion-label>
            <h2>Nombre:</h2>
            <p>Juan Pérez</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>Correo Electrónico:</h2>
            <p>juan.perez.com</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>Teléfono:</h2>
            <p>+56912312312</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>Dirección:</h2>
            <p>Calle Falsa 123</p>
          </ion-label>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </ion-content>